﻿<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0" metadata-complete="true">

    <head>
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />
        <title>會員註冊驗證信</title>

    </head>
    <body>
        <h1>會員註冊驗證信</h1>
        <p>{{UserName}}使用者，您好:</p>
        <p>
            請您點擊下列連結以確認您的Email地址
            <br />
            <a href="{{ValidateUrl}}" target="_blank">{{ValidateUrl}}</a>
        </p>
        <p>感謝您配合!</p>
    </body>
</html>
